extends ../layouts/main

block append head
    link(rel='stylesheet' href='/public/assets/styles/product-listing.css' type='text/css')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Arsenal&family=Quattrocento+Sans&display=swap' rel='stylesheet')

block content   
    - const divisionName= model.data.divisionName; const products =model.data.products; const hierarchy=model.categoryHierarchy;
    h1.division-heading=divisionName
    .product-container
        each product in products
            .product-card
                .product-info
                a(href=`/product/${product.id}`)
                    h2.product-name=product.name 
                        img.product-image(src=`./../../../public/assets/images/${product.images[0]}`)
                        p.product-price #{model.helperFunctions.formatCurrency(product.price, product.currencycode)} 
                        button.basket-button Add to Basket
