<link rel="stylesheet" href="/public/assets/styles/product-listing.css" type="text/css" />

<body>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arsenal&family=Quattrocento+Sans&display=swap"
        rel="stylesheet">
    <% console.log(model); const [divisionName, products]=model.data; const hierarchy=model.categoryHierarchy;%>
        <h1 class="division-heading">
            <%= divisionName %>
        </h1>

        <div class="product-container">
            <% products.forEach(product=> { %>
                <% console.log(product.images[0]) %>

                    <div class="product-card">
                        <div class="product-info">
                            <h2>
                                <a class="product-name" href="/product/<%= product.id %>">
                                    <%= product.name %>
                                </a>
                            </h2>
                            <img class="product-image" src="./../../../public/assets/images/<%= product.images[0] %>" />
                            <p class="product-price">
                                <%= formatCurrency(product.price, product.currencycode) %>
                            </p>

                            <button class="basket-button">Add to Basket</button>
                        </div>
                    </div>
                    <% }) %>
        </div>
</body>